@model  string
@{
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var orgUrl = Url.Content("~/Content/images/noimages.gif");
    var targetWidth = Convert.ToInt32(ViewData.ModelMetadata.AdditionalValues["UploadImgEdit"].ToString().Split('|')[0]);
    var targetHeight = Convert.ToInt32(ViewData.ModelMetadata.AdditionalValues["UploadImgEdit"].ToString().Split('|')[1]);
    var mustUpload = Convert.ToBoolean(ViewData.ModelMetadata.AdditionalValues["mustUpload"]);

}

<link type="text/css" href="~/Content/jcrop/jquery.Jcrop.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery.Jcrop.min.js"></script>

<div class="field-uploadimg">
    <div class="field-uploadimg-box">
        <img src="@orgUrl" id="@(name + "_img")" />
    </div>
    @Html.TextBoxFor(m => m, new { tabindex = -1, @class = "field-valid-text", value = (mustUpload ? "" : orgUrl) })

    @(Html.Kendo().Window().Name(name + "_window").Title("±à¼­Í¼Æ¬")
    .Events(events => events.Open(name + ".onOpen"))
    .Modal(true).Visible(false).Content(@<text>
    <table id="@Html.Raw(name + "_template")" >
        <tr>
            <td class="jcrop_orgin">
                <img  src="@orgUrl" id="@(name + "_crop")" class="@(name + "_crop")"  />
            </td>
            <td class="jcrop_preview" style="vertical-align: top">
                <div style="width: 100px; height: 100px; overflow: hidden;">
                    <img src="@orgUrl" id="@(name + "_preview")" alt="Preview" class="jcrop-preview" />
                </div>
                <input type="hidden" id="@(name + "_url")" name="@(name + "_url")"  />
                <input type="hidden" id="@(name + "_x")" name="@(name + "_x")" />
                <input type="hidden" id="@(name + "_y")" name="@(name + "_y")" />
                <input type="hidden" id="@(name + "_w")" name="@(name + "_w")" />
                <input type="hidden" id="@(name + "_h")" name="@(name + "_h")" />
            </td>
        </tr>

    </table>

    <div class="k-window-footer">
        <button type="button" id="@(name + "_save")" class="k-button"><span class="k-icon k-i-tick"></span>±£´æÍ¼Æ¬</button>
    </div>
    </text>
))
</div>

<script type="text/javascript">
    $(function () {
        var upvalue;
        @if (!string.IsNullOrEmpty(Model))
        {
            <text>
        upvalue = '@Model';
            </text>
        }
        jQuery("#@name").uploadImgEdit({
            default_url: '@orgUrl',
                save_url: '@Url.Action("EditSave", "Upload")',
                uploadId: 'editattachments',
                remove_url: '@Url.Action("UpLoadRemove", "Upload")',
            crop_url: '@Url.Action("CropImg", "Upload")',
                value: upvalue,
                targetWidth:@targetWidth,
            targetHeight:@targetWidth
                });
    })
</script>
